<!-- <mat-card>
    
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">  <mat-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink="/admin/client-list">  <mat-icon>account_circle</mat-icon>All Client</button>
        <button mat-list-item routerLink="All Collection">  <mat-icon>category</mat-icon>All Collection</button>
        <button mat-list-item routerLink="Daily Collection"> <mat-icon>quiz</mat-icon>Daily Collection</button>
        <button mat-list-item routerLink="/admin/add-client"> <mat-icon>add_circle_outline</mat-icon>Add Client</button>
        <button mat-list-item routerLink="/"> <mat-icon>logout</mat-icon>Logout</button>

    </mat-action-list>
</mat-card> -->

